html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../sfondo/Screenshot\ 2025-08-29\ 152428.png"); 
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;   
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(238, 228, 218, 0.85);
    opacity: 0.9;
    z-index: 0;
}
.container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;  
    border-radius: 20px;
    width: 95%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    overflow-y: hidden;

   
    background-color: #bbada0; 
    color: #776e65;
    box-shadow: 0 8px 20px rgba(187, 173, 160, 0.4);
    border: 1px solid rgba(216, 205, 193, 0.3);
}
